.top-bar-container {
    height: 410px;
    wdith: 100%;
}

.top-bar-background-home {
    height: 350px;
    width: 100%;
    background-image: url("./images/NYC_Wallpaper_5.jpg");
    background-size: 100% 100%;
}

.top-navigation-bar-contaier {
    height: 100%;
    width: 40%;
    right: 0;
}

.top-navigation-bar {
    height: 60px;
    width: 100%;
    background-color: #EAEDED;
}   

.top-bar-content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-bar-company-title {
    float: left;
    font-size: 30px;
}

ul {
    float: right;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

li {
    float: left;
    font-size: 20px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.address-container {
    height: 500px;
    width: 100%
}

.map-container {
    height: 400px;
    width: 100%
}

.bottom-bar-container {
    bottom: 0;
    height: 50px;
    width: 100%;
}
